<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>Fenrir</title>
</head>
<body>
   <h1>Fenrir</h1>
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Dados {% endblock %}</h1>
    {% for post in posts %}
   <h1> Volta {{post['lap']}}</h1>
            <h2>{{ post['vel'] }}</h2>
        <span class="badge badge-dark">{{ post['lat'] }}</span>
        <span class="badge badge-dark">{{ post['lon'] }}</span>
        <span class="badge badge-dark">{{ post['datetime'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}
</body>
</html>


